<br/>
<div class="jumbotron">
  <h1>GemDigger</h1>
  <p>GemDigger is a Bloc.io team code review repository.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Learn</h2>
    <p>Review beautiful pristine code from well-known open source projects.</p>
  </div>
  <div class="col-md-4">
    <h2>Collaborate</h2>
    <p>Work with other Bloc.io students to unpack the structure and logic of the code that you review.</p>
  </div>
  <div class="col-md-4">
    <h2>Contribute</h2>
    <p>Work on open-source projects requesting "triage" to improve your skills and develop your reputation in the developer arena.</p>
  </div>
</div>


